# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/


# YOLO training output and weights
runs/
*.pt

# Uploaded & processed files (keep folder structure, ignore contents)
static/uploads/*
static/outputs/*
!static/uploads/.gitkeep
!static/outputs/.gitkeep

# Ignore any uploaded/downloaded images or videos in the root directory
/*.jpg
/*.jpeg
/*.png
/*.webp
/*.bmp
/*.mp4
/*.avi
/*.mov
/*.mkv

# Ignore the entire dataset directory (images, labels, and local configurations)
dataset/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
